h1{
    text-align: center;
    color: #ffffff;
    font-size: 25px;
    padding-top: 20px;
    padding-bottom: 50px;
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
}

h2{
    font-size: 35px;
    color: #ffffff;
    text-transform: uppercase;
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
}

header{
    height: 200px;
    align-self: center;
    background-image: url("images/flywheel.jpg"); 
    background-size: cover;
}

nav{
    text-align: center;
}

a{
    color: #ffffff;
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
}

aside{
    width: 310px;
    background-color: #15680a;
    border-radius: 5px;
}

aside img{
    height: 150px;
    width: 250px;
    margin: 25px;
    border-radius: 5px;
    border-style: solid;
    border-color: #000000;
}

body{
    margin: 20px;
    padding: 2px;
    background-color: #0ec42c;
}

p{
    color: #ffffff;
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
}

nav a{
    padding: 10px 50px 10px 50px;
    margin-left: 100px;
    border-radius: 5px;
    text-decoration: none;
    background-color: rgba(255, 255, 255, 0.2);
    color: #000000;
    font-size: 20px;
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
}

.active{
    background-color: #ffffff;
    opacity: 1;
}

.right{
    margin-left: 320px;
}

.left{
    float: left;
}

table{
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 190px;
}

th{
    color: #ffffff;
    background-color: #15680a;
    height: 35px;
    width: 150px;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px ;
    border-bottom: solid;
}

th:nth-child(1){
    text-align: left;
    width:450px ;
    padding-left: 20px;
}

td{
    background-color: #7ed674;
    opacity: 0.5;
    height: 40px;
    border-radius: 2px;
}

td:nth-child(1){
    padding-left: 10px;
}

td:nth-child(2){
    text-align: center;
}

td:nth-child(3){
    text-align: center;
}
tr:hover td{
    opacity: 1;
}